

<div class="container" style="margin-top:2em ;">

  <div class="row">
  
    <div class="col-md-3" style="width: 400px;" >
        <input class="form-control mb2-2" placeholder="Buscar por descrição" [(ngModel)]="filtroLista">
       
        
    </div>

<div class="col-md-4" style="display: flex; flex-direction: column; width: 200px; margin-left: 5em;">
  <label for="" style="font-weight:bold ;">Pesquisar por data</label>
  <input type="date" [(ngModel)]="filtroData" >
</div>
</div>
<hr>
<div >
    <button class="btn btn-primary" routerLink="/curso/adicionar">Adicionar</button>
</div>
<table class="table">
    <thead>
      <tr>
        
        <th scope="col">Descrição</th>
        <th scope="col">Data de Início</th>
        <th scope="col">Data de Conclusão</th>
        <th scope="col">Categoria</th>
        <th scope="col">Quantidade de Alunos</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody  >
      <tr *ngFor="let c of cursosFiltrados | filter: filtroData;">
       
        <td>{{ c.descricao }}</td>
        <td>{{ c.dataInicio  | date: 'dd/MM/yy' }}</td>
        <td>{{ c.dataTermino | date: 'dd/MM/yy' }}</td>
       
        <td>{{FiltraCategoria(c.categoriaId).nome }}</td>
        <td>{{ c.qtdAlunos }}</td>
        <td><button (click)="abrirModal(modalConfirmacaoDeletar,c.cursoId)"
        class="btn btn-danger">Deletar</button> |
        <button class="btn btn-secondary" [routerLink]="['/curso/editar',c.cursoId]">Editar</button>
        
      </td>
      </tr>
     
    </tbody>
  </table>

  <ng-template #modalConfirmacaoDeletar let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Atenção</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Você tem certeza que deseja deletar este registro?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Fechar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Confirmar</button>
    </div>
</ng-template>
</div>